<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect directly to public directory dynamically for any project folder name
    RewriteCond %{REQUEST_URI} !/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
